
.descripcion{
    grid-row: 3 / 4;
    grid-column: 1 / span 3;
}
main{
    grid-row: 4 / 5;
    grid-column: 1 / span 3;
}

/*-----------descripcion-------------*/

.cont__descripcion h1{
    text-align: center;
}
.descripcion__article{
    margin: 20px 50px;
    display: flex;
}
.descripcion__article img{
    width: 500px;
    margin-right: 30px;
}

/*------------------aside----------------*/












@media only screen and (max-width: 1000px){


}
